/*
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0%;
	background-image: url('resources/genting.jpg');
	background-color: #333333;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	/*justify-content: center;*/
	text-overflow: clip;
	font-family: "Open Sans";
	transition-duration: 1s;
}

img {
	width: 30%;
	height: 30%;
}

header{
	background-color: black;
	display: block;
	margin: none;
	padding: 1%;
}

h1{
	margin: 0%;
}

.headcontain{
	display: flex;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	margin-left: 1%;
	margin-right: 1%;
}

.boutmebox{
	display: flex;
	align-self: center;
	width: 20%;
	text-align: center;
}

.boutme{
	width: 300px;
	cursor: pointer;
	border: 2px solid white;
	font-size: 120%;
	border-radius: 10px;
	text-align: center;
	display: inline;
	padding: 5% 2% 5% 2%;
	margin: 0% 2%;
	align-content: center;
}

.boutme:hover{
	background-color: white;
	color: black;
	border: 2px solid grey;
	transition-duration: 1s;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.65);
	padding: 5% 0% 5% 0%;
	margin: none;
}

.introPara {
	color: white;
	display: inline-block;
	font-size: 100%;
	margin: 0% 5% 3% 3%;
}

.secondPanel{
	margin: 0% 5% 0% 5%;
	font-size: 120%;
	background: rgba(0, 0, 0, 0.65);
	border: 2px solid white;
	border-radius: 15px;
	padding: 0% 2%;
}

.hide{
	padding-bottom: 2%;
}

.secondPanelClicker{
	display: flex;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.lastPanel{
	display: block;
	text-decoration: none;
	border: none;
}

.show{
	background: none;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 150%;
}

.affil{
	padding: 1px;
	border-radius: 12px;
	margin: 0px 3%;
}

.kaki{
	text-align: center;
	display: block;
	background-color: #828282;
	margin: none;
	color: black;
	padding: 1%;
}

.articlepic{
display: inline;
width: 40%;
margin-left: 2%;
align-self: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	img {
		width: 25%;
		height: 25%;
	}
	.articlepic{
		display: block;
	}
}
@media only screen and (max-width: 1075px){
	.boutme{
		font-size: 100%;
	}
	.boutmebox{
		width: 40%;
	}
}

a{
	text-decoration: none;
	color: white;
}